/*Color scheme*/
/*#EEFEFA*/
/*#D4FAF4*/
/*#A2E3EF*/
/*#788C96*/
/*#C7C2A1*/
/*#E2E9C9*/

.orderDiv{
    font-family: Consolas;
    overflow: hidden;
}

.cartTableContainer{
    text-align: center;
    float: left;

}

.extraOrderInputContainer{
    text-align: center;
    float: left;
    height: 100%;
    right: 0;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    /*background: green;*/
}

.extraOrderInput{
    float: left;
    border-left: thick solid #C7C2A1;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.clearDiv{
    clear: both;
}

.LastTableRow > td{
    border-top: solid 1px #C7C2A1
}

